<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <title>Customer Feedback</title>
    <link href=/customer_feedback/static/css/app.0b0d644c2f62816d9adcc10cc63f0c8c.css rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=/customer_feedback/static/js/manifest.727a48dfbbe05877d064.js></script>
    <script type=text/javascript src=/customer_feedback/static/js/vendor.e0f9dd2f97a96246ca75.js></script>
    <script type=text/javascript src=/customer_feedback/static/js/app.3c0ae0367516fdfd92f7.js></script>
</body>

</html>