<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BBVA API Testing</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/api_testing/static/css/app.css">
</head>

<body style="text-align: center;">

    <div id="app">
        <div style="width:90%; margin:auto">
            <div class="row">
                <div class="col-sm-12">
                    
                    <!-- <div class="page_title">
                        <img src="static/img/ramllogo.png">
                        <div>Tester</div>    
                    </div> -->

                    <h2>GloMo API Validation</h2>

                    <hr>
                </div>
            </div>
            <div v-if="page == 'main'">
                <div class="row">
                   <div class="col-sm-6">
                        <div class="item_wrapper">
                            <label for="sel_country">Country:</label>
                            <select class="form-control user_input" id="sel_country" v-model="country">
                                <option>Mexico</option>
                                <option>Peru</option>
                            </select>
                        </div>
                        <div class="item_wrapper">
                            <label for="sel_env">Environment:</label>
                            <select class="form-control user_input" id="sel_env" v-model="environment">
                                <option>Test</option>
                                <option>Dev</option>
                                <option>QA</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        
                        <div class="item_wrapper">
                            <label for="input_username">Username:</label>
                            <input type="text" id="input_username" class="form-control user_input" v-model="username">
                        </div>
                        <div class="item_wrapper">
                            <label for="input_password">Password:</label>
                            <input type="text" id="input_password" class="form-control user_input" v-model="password">
                        </div>
                    </div>
                </div>
                
                <div v-if="show_functions_if_credentials" style="margin:20px 0">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info" style="padding: 10px 0;">
                                The below data will be tested. Click on the submit button to continue.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="item_wrapper">
                                <label for="sel_func">Epic:</label>
                                <select class="form-control user_input" id="sel_func" v-model="selectedFunction" @change="updateApiList">
                                    <option v-for="option in functionList" v-bind:value="option.item">
                                        {{ option.item }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div v-if="haveApiList" class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered">
                                <thead style="display:block">
                                    <tr>
                                        <th class="table_api_type">Epic</th>
                                        <th class="table_api_url" style="text-align: center">API URL</th>
                                    </tr>
                                </thead>
                                <tbody style="display:block; max-height:400px; overflow-x: auto">
                                    <tr v-for="option in apiList">
                                        <td class="table_api_type">{{ option.function }}</td>
                                        <td class="table_api_url">{{ option.api_url }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div v-if="adhoc" class="row">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="adhoc_operation">API Operation:</label>
                                <select class="form-control" id="adhoc_operation" @change="updateApiList">
                                    <option>GET</option>
                                    <option>POST</option>
                                    <option>DELETE</option>
                                    <option>PUT</option>
                                    <option>PATCH</option>
                                </select>
                            </div>
                            <div class="col-sm-9">
                                <label for="adhoc_endpoint">Endpoint:</label>
                                <select class="form-control" id="adhoc_endpoint">
                                    <option v-for="option in adhocList" v-bind:value="option.api_url">
                                        {{ option.api_url }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="item_wrapper">
                                    <label for="adhoc_request">Request:</label>
                                    <textarea rows="10" style="resize:vertical" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-default" @click="submit" :disabled="submit_loading">Submit</button>
                            <div v-if="submit_loading" style="margin:0 20px; display:inline-block">
                                submitting data <i class="fa fa-spinner fa-pulse fa-2x fa-fw" style="vertical-align: middle;"></i>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                
            </div>
            <div v-if="page == 'results'">
                <!-- <div class="row">
                    <div class="col-sm-12">
                        <div style="float:right;padding:10px;" v-if="progress_bar_width == 100">
                            <div style="cursor:pointer;"><i class="fa fa-download fa-2x export_button" title="Download to CSV" @click="exportDataToCSV()"></i></div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-sm-12">
                        <div style="float:left;">
                            <button @click="back" class="btn btn-default" style="margin:10px 0">Back</button>
                        </div>
                        <div>
                            <button @click="showDashboard" class="btn btn-default" style="margin:10px 0">Overview</button>
                            <button @click="showTable" class="btn btn-default" style="margin:10px 0">Details</button>
                        </div>
                    </div>
                </div>

                

                <div class="row">
                    <div class="col-sm-8">
                        <!-- <div>Test data</div> -->
                        <div style="margin:20px 0;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="test_data_header">Test Data</th>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <th>Environment</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Function</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ country }}</td>
                                        <td>{{ environment }}</td>
                                        <td>{{ username }}</td>
                                        <td>{{ password }}</td>
                                        <td>{{ selectedFunction }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    <div class="col-sm-4">
                        <div style="height:150px;" id="validation_chart"></div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-12">
                        <h2>Results</h2>
                    </div>
                </div> -->
                <div class="row" style="height:100px;">
                    <div class="col-sm-12">
                        <div v-if="progress_bar_width != 100">
                            <div>progress</div>
                            <div>{{ data_count }} / {{ data_total_count }}</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" 
                                v-bind:style="{ width: progress_bar_width + '%'}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="show_dashboard">
                    <div class="col-sm-12">
                        <div style="text-align:left">
                            <div v-for="item in resultsApiDasboard" style="margin:20px 0">
                                <div>
                                    <strong>{{ item.function }}</strong>
                                </div>
                                <div class="endpoint_box" style="text-align: center;" v-for="url in item.endpoints">
                                    <div class="endpoint_validation_idicator" v-bind:style="{backgroundColor : url.color}"></div>
                                    <div v-bind:style="{color : url.color}">
                                        {{ url.endpoint }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row" v-if="show_table">
                    <div class="col-sm-12">
                        <div style="float:right;" v-if="progress_bar_width == 100">
                            <div style="cursor:pointer;margin:10px 0;"><i class="fa fa-download fa-2x export_button" title="Download to CSV" @click="exportDataToCSV()"></i></div>
                        </div>
                        <table class="table table-hover table-bordered" v-if="progress_bar_width > 0">
                            <thead>
                                <tr>
                                    <th class="table_function">
                                        <div>Function</div>
                                        <div>
                                            <i class="fa fa-arrow-circle-o-down results_table_sort" v-bind:style="{color: sort_results_function_desc}" @click="sortResults('sort_results_function_desc')"></i>
                                            <i class="fa fa-arrow-circle-o-up results_table_sort" v-bind:style="{color: sort_results_function_asc}" @click="sortResults('sort_results_function_asc')"></i>
                                        </div>
                                    </th>
                                    <th class="table_endpoint">
                                        <div>Endpoint</div>
                                        <div>
                                            <i class="fa fa-arrow-circle-o-down results_table_sort" v-bind:style="{color: sort_results_endpoint_desc}" @click="sortResults('sort_results_endpoint_desc')"></i>
                                            <i class="fa fa-arrow-circle-o-up results_table_sort" v-bind:style="{color: sort_results_endpoint_asc}" @click="sortResults('sort_results_endpoint_asc')"></i>
                                        </div>
                                    </th>
                                    <th class="table_message">
                                        <div>Message</div>
                                        <div>
                                            <i class="fa fa-arrow-circle-o-down results_table_sort" v-bind:style="{color: sort_results_message_desc}" @click="sortResults('sort_results_message_desc')"></i>
                                            <i class="fa fa-arrow-circle-o-up results_table_sort" v-bind:style="{color: sort_results_message_asc}" @click="sortResults('sort_results_message_asc')"></i>
                                        </div>
                                    </th>
                                    <th class="table_status">
                                        <div>Status</div>
                                        <div>
                                            <i class="fa fa-arrow-circle-o-down results_table_sort" v-bind:style="{color: sort_results_status_desc}" @click="sortResults('sort_results_status_desc')"></i>
                                            <i class="fa fa-arrow-circle-o-up results_table_sort" v-bind:style="{color: sort_results_status_asc}" @click="sortResults('sort_results_status_asc')"></i>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                           
                            <tbody style="text-align: left">
                                <tr v-for="item in api_table_data">
                                    <td class="table_function">
                                        {{ item.function }}
                                    </td>
                                    <td class="table_endpoint">
                                        {{ item.endpoint }}
                                    </td>
                                    <td class="table_message">
                                        <div v-if="item.status == 'fail'">
                                            <div class="error_table_highlight">{{ item.message }}</div>
                                        </div>
                                        <div v-else>
                                            {{ item.message }}
                                        </div>
                                    </td>
                                    <td  class="table_status" style="text-align: center">
                                        <div v-if="item.status == 'fail'">
                                            <i style="color:red" class="fa fa-2x fa-thumbs-o-down"></i>
                                        </div>
                                        <div v-if="item.status == 'success'">
                                            <i style="color:green" class="fa fa-2x fa-thumbs-o-up"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" v-if="progress_bar_width != 100">
                    <div class="col-sm-12">
                        <i class="fa fa-spinner fa-pulse fa-2x fa-fw" style="vertical-align: middle;"></i>
                    </div>
                </div>
            </div>
        </div>        
    </div>
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/highcharts/highcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.6.0/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.6/papaparse.min.js"></script>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script src="/api_testing/static/js/username_mapping.js"></script>
    <script src="/api_testing/static/js/app.js"></script>
</body>

</html>
