<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <title>Tuyyo Dashboard</title>
    <link href=/tuyyo_dashboard/static/css/app.7b3f0a0eb9cac17f7e9d61e6e2118a0a.css rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=/tuyyo_dashboard/static/js/manifest.b521ad33c4d2b5320356.js></script>
    <script type=text/javascript src=/tuyyo_dashboard/static/js/vendor.3df1b9f5bf03a269f514.js></script>
    <script type=text/javascript src=/tuyyo_dashboard/static/js/app.d5104b5aaaca3ca01c0f.js></script>
</body>

</html>