<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <title>BBVA | Tuyyo Dashboard</title>
    <link href=/tuyyo_dashboard/static/css/app.296a2d51dd1c2d172acc2c1caa7c46f5.css rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=/tuyyo_dashboard/static/js/manifest.e477742ae9ff47784be0.js></script>
    <script type=text/javascript src=/tuyyo_dashboard/static/js/vendor.9e1f9aa441020d06b23d.js></script>
    <script type=text/javascript src=/tuyyo_dashboard/static/js/app.6ac9c63ec7f8479f5049.js></script>
</body>

</html>
